section.training-info-cards-wrap {
    padding: 92px 0 110px 0;
    background-size: cover;
    background-position: center center;
    color: #FFF;

    @include media-breakpoint-down(sm) {
        padding-top: 68px;
        padding-bottom: 80px;
    }

    .section-header {
        text-align: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        .section-title {
            color: $orange;
            margin: 0;
            line-height: 1.2;

            @include media-breakpoint-down(sm) {
                font-size: 1.75rem;
            }
        }

        .section-description {
            font-size: 1.3125rem;
            max-width: 670px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            line-height: 1.4;

            &:not(:first-child) {
                margin-top: 32px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1.125rem;

                &:not(:first-child) {
                    margin-top: 16px;
                }
            }
        }
    }

    .cards-wrap {
        margin-top: 48px;

        >.row {
            margin-bottom: -24px;

            >.hrl-card {
                margin-bottom: 24px;
            }
        }

        .hrl-card {
            >.innerwrap {
                height: 100%;
                padding: 48px 64px;
                position: relative;
                border: 0.75px solid $blue;
                border-radius: 15px;
                background-color: rgba(0,0,0,.35);

                @include media-breakpoint-down(md) {
                    padding-left: 24px;
                    padding-right: 24px;
                }
            }

            .card-title {
                font-size: 1.375rem;
                margin: 0;
                line-height: 1.2;
            }

            .card-desc {
                font-size: 1.0625rem;
                line-height: 1.5;
                max-width: 344px;

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }

            .card-icon {
                position: absolute;
                top: 14px;
                right: 20px;
            }
        }
    }
}
